/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Reinstated
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120326
*/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: underline;
	color: #222;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 11.5pt;
	line-height: 1.75em;
	color: #888;
	background: black repeat-y;
	letter-spacing: -0.02em;
}

br.clearfix {
	clear: both;
}

h1, h2, h3, h4 {
	font-family: Oswald, sans-serif;
	text-align: center;
	letter-spacing: -1px;
	font-weight: normal;
	color: #222;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
	text-align: center;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

#content {
	width: 655px;
	padding: 0;
	float: left;
}

#footer {
	text-align: center;
	padding: 10px 0 10px 0;
	font-size: 0.9em;
}

#footer a {
	color: #555;
}

#header {
	color: #FFF;
	position: relative;
	height: 80px;
	background: #447289 url(images/bg2.jpg) bottom center repeat-x;
	width: 910px;
	padding: 35px;
}

#logo {
	position: absolute;
	top: 60px;
}

#logo a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}

#logo h1 {
	font-size: 3em;
	font-family: Oswald, sans-serif;
}

#menu {
	line-height: 60px;
	font-family: Oswald, sans-serif;
	padding: 0 35px 0 35px;
	width: 910px;
	height: 60px;
	font-size: 1.2em;
	background: #e03128;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
	text-align: center;
}

#menu {
	text-transform: uppercase;
	letter-spacing: -1px;
	color: #FFF;
}

#menu a {
	color: #FFF;
	text-decoration: none;
}

#menu ul {
	list-style: none;
}

#menu ul li {
	padding: 0 20px 0 20px;
	height: 60px;
	display: inline-block;
}

#menu ul li.first {
	padding-left: 0;
}

#menu ul li.active {
	background: #000000;
}

#menu .arrow {
	display: inline-block;
	margin: 0 0 0 0.5em;
	position: relative;
	width: 0;
	height: 0;
	top: -3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid white;
}

#page {
	color: #656565;
	padding: 60px 35px 25px 35px;
	margin: 0;
	width: 910px;
	position: relative;
}

#page strong {
	color: #222;
}

#page .section-list {
	list-style: none;
	padding-left: 0;
}

#page .section-list li {
	padding: 20px 0 20px 0;
	clear: both;
}

#page ul {
	list-style: none;
}

#page ul li {
	padding: 10px 0 10px 0;
	border-top: dotted 1px #CCC;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

.box {
	margin: 0 0 30px 0;
	overflow: hidden;
}

#col1 {
	float: left;
	width: 310px;
	overflow: hidden;
}

#col2 {
	width: 310px;
	overflow: hidden;
	margin: 0 0 0 340px;
}

#search {
	position: absolute;
	top: 58px;
	right: 35px;
}

#sidebar {
	width: 225px;
	margin: 0 0 0 685px;
	padding: 0;
}

#splash {
	height: 180px;
	position: relative;
	width: 980px;
	background: #e03128;
	overflow: hidden;
}

#wrapper {
	width: 980px;
	position: relative;
	background: #fff;
	margin: 0 auto 0 auto;
}

.dropotron {
	min-width: 200px;
	padding: 20px 15px 20px 15px;
	background: #45c7ee url(images/bg4.jpg) top left no-repeat;
	list-style: none;
	line-height: 2.75em;
}

.dropotron li {
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
	color: #D3DDE2;
	position: relative;
	border-top: dotted 1px #e03128;
	padding: 0 20px 0 20px;
}

.dropotron li:hover {
	background: #e03128;
}

.dropotron li:hover .arrow {
	border-left-color: #e03128;
}

.dropotron li.first {
	border-top: 0;
}

.dropotron li.last {
	border-bottom: 0;
}

.dropotron li a {
	color: #E3EAED;
	text-decoration: none;
}

.dropotron .arrow {
	display: inline-block;
	margin: 0 0 0 0.5em;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 7px solid white;
}



/* ----------------- CUSTOM CSS ----------------- */

/* TABELE */
table td {
	font-size: 11px;
}

.tabele {
	border: 5px double black;
}
.tabele thead tr th {
	background-color: black;
	color: white!important;
	font-family: Oswald, sans-serif;
	font-size: 17pximportant;
	font-weight: normal!important;
	text-align: center!important;
	vertical-align: middle;
	padding: 5px 0!important;
}
.tabele tr:nth-child(even) {
	padding: 5px 0px;
	background-color: #CCC;
}
.tabele tr:nth-child(odd) {
	background-color: rgb(237, 134, 129);
}
.tabele th {
	font-size: 12px;
	text-transform: uppercase;
	text-align: left;
	color: black;
	padding: 1px 5px;
}
.tabele td {
	font-size: 12px;
	text-align: left;
	color: black;
	padding: 1px 5px;
}

/* FORME */

.forme {
	font-family: Oswald, sans-serif;
}
.forme table {
    width: 100%;
    padding-bottom: 15px;
    vertical-align: top;
    border: none;
}
.forme th {
	color: #222;
	vertical-align: top;
    text-align: left;
    letter-spacing: -1px;
    font-size: 16px;
    font-weight: normal;
}
.forme td {
    text-align: left;
    vertical-align: top;
    border: none;
}
.forme input, textarea, select, option {
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
    padding: 6px 0px 6px 4px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
}
.forme textarea {
    resize: none;
    height: 80px;
}
.forme td input[readonly], textarea[readonly], select {
    color: rgb(117, 117, 150);
}
.forme table table {
	margin: 0;
	border-collapse: collapse;
}
.forme table table th {
	width: auto;
}
.forme .izbire {
	width: auto;
	margin-right: 3px;
	padding: 0px;
	border: none;
}
.forme .odsek {
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 5px;
}

/* GUMBI */
.gumbi {
	padding-top: 15px;
}
.gumbi div {
	float: right;
}
.gumbi input, .gumbi a, .gumbi button
{
	font-family: Oswald, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    font-size: 12px;
    width: auto;
    padding: 5px 15px;
    color: #222;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    text-decoration: none;
}
.gumbi input:hover, .gumbi a:hover, .gumbi button:hover {
    color: white;
    background-color: rgb(224, 49, 40);
    cursor: pointer;
}

/* DRAG DROP */
.dragDrop div {
	border: 1px solid #aaa;
	margin: -1px;
	padding: 5px 0px;
	width: 50%;
	height: 200px;
	float: left;
	overflow: auto;
}
.dragDrop div div {
	clear: left;
	margin: 0 0 0 2px;
	padding: 0 5px;
	width: auto;
	height: auto;
	white-space: nowrap;
	cursor: pointer;
	overflow: visible;
	font-size: 11px;
	border: 1px solid transparent;
	z-index:1;
}
.dragDrop div div:hover {
	background: #eee;
	border: 1px solid #aaa;
}

/* NAPAKE */
.error {
	color: rgb(224, 49, 40);
	padding-top: 3px;
	padding-left: 4px;
	font-size: 11px;
}

/* SUCESS */
.success {
	font-size: 13px;
	color: #009900;
	text-align: center!important;
	padding-bottom: 10px;
}